.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-top: 100px;
  padding-bottom: 20px;
}

.footer {
  height: 440px;
}

.container h1 {
  margin-top: 4rem;
  margin-bottom: 1rem;
  font-size: 2.5rem;
  font-weight: 500;
  text-align: center;
  position: relative;
  padding-bottom: 0.75rem;
}

.container h1::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 100px;
  height: 3px;
  background-color: #ffffff;
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 75px;
}

.col {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 75px;
}

.logo {
  max-width: 25%;
  max-height: 25%;
}

.iframe {
  max-width: 700px;
  width: 100%;
  height: 850px;
  border: 2px solid #ffffff;
  border-radius: 8px;
}


@media screen and (max-width: 480px) {
  .row {
    flex-direction: column;
  }

  .logo {
    max-width: 75%;
    max-height: 75%;
  }

  .container {
    padding-bottom: 50px;
  }
}
