.bgImg {
  position: absolute;
  bottom: 0;
  width: 100%;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1;
}

.mainContent {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  z-index: 5;
  padding: 0 55px;
  position: relative;
  color: white;
}

.welcomeText {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: normal;
  text-align: center;
  width: 50%;
  font-size: 1.3em;
  margin-bottom: 2rem;
  line-height: 1.6;
}

.colContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  position: relative;
  background-image: url('../assets/2026/banner.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  overflow: hidden;
  flex-direction: column;
  /* padding-top: 0px; */
  gap: 75px;
  /* transform: translate(0, -45%); */
}

.btn {
  width: 200px;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: white;
  z-index: 5;
  border-color: white;
  border: none;
  border-radius: 10px;

  color: #1A1D21;
  font-family: 'Montserrat', -apple-system, sans-serif;
  font-weight: 100;
  font-size: 1.2em;
  cursor: pointer;
}

.btn:hover {
  background-color: rgba(255, 255, 255, 0.628);
}

.registerLink {
  text-decoration: none;
}

.fadeIn {
  opacity: 0;
  transform: translateY(50px);
  animation: fadeIn 0.5s ease-in-out forwards;
}

@keyframes fadeIn {
  from {
      opacity: 0;
      transform: translateY(50px);
  }
  to {
      opacity: 1;
      transform: translateY(0);
  }
}

.logo {
  max-width: 40%;
  min-width: 40%;
}

.registration{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

@media screen and (max-width: 650px) {
  .colContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 100px;
    /* transform: translate(0, -45%); */
  }

  .welcomeText{
    margin-bottom: 0;
    padding-bottom: 0;
  }

  .mainContent {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    z-index: 5;
    gap: 1rem;
    padding: 0 25px;
  }

  .registration{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    padding-bottom: 8rem;
  }

  .welcomeText {
    font-size: 20px;
    padding: 0;
    padding-bottom: 2rem;
    width: 80%;
    text-align: center;
  }

  .logo {
    max-width: 100%;
    min-width: 100%;
  }
}